@import url("https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap");

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Xanh Mono", monospace;
  margin-top: 2rem;

  h1 {
    margin: 1rem 0;
  }

  h4 {
    margin: 1rem 0;
  }

  .sign-up__link {
    color: blue;
  }

  .sign-up__link:hover {
    color: #5b5bfa;
    text-decoration: underline;
  }

  .input-box__row {
    display: flex;
    flex-direction: row;

    .input {
      width: 12rem;
      margin-top: 1rem;
      margin-right: 1rem;
    }

    .input:last-child {
      margin-right: 0;
    }
  }

  .input-box__column {
    display: flex;
    flex-direction: column;

    .input {
      width: 25rem;
      margin-top: 1rem;
    }
  }

  .button-primary {
    width: 25rem;
    margin-top: 1rem;
  }
}
