@import url("https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap");

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Xanh Mono", monospace;
  margin-top: 1rem;

  h1 {
    margin: 1rem 0;
  }

  h4 {
    margin: 1rem 0;
  }

  .sign-up__link {
    color: blue;
  }

  .sign-up__link:hover {
    color: #5b5bfa;
    text-decoration: underline;
  }

  .form-control {
    width: 20%;
    margin: 0.5rem 0;
  }

  .login-button {
    margin: 1rem 0;
    width: 20%;
  }
}
