@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&display=swap");

.side-nav {
  position: relative;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(214, 255, 253, 1) 49%,
    rgba(205, 222, 255, 1) 100%
  );
  box-shadow: 3px 4px 11px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .item {
    width: 90%;
    height: 2rem;
    font-size: 1.3rem;
    list-style: none;
    padding: 5px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-family: "Dosis", sans-serif;
  }

  a {
    color: black;
  }

  a.active {
    color: white;
    background-color: #5555;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
  }

  .item:hover {
    background-color: #bebebe;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
  }
}
