.header {
  z-index: 1;
  width: 100%;
  height: fit-content;
  // position: absolute;
  top: 0;
  // // left: 300px;
  // width: calc(100% - 300px);
}

.tool-bar {
  background-color: white;
}

.nav-link {
  margin-right: 1rem;
}

.nav_button {
  color: white;
}
