.header {
  z-index: 1;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(214, 255, 253, 1) 49%,
    rgba(205, 222, 255, 1) 100%
  );
  width: 100%;
  height: fit-content;
  // position: absolute;
  top: 0;
  // // left: 300px;
  // width: calc(100% - 300px);
}

.tool-bar {
  background: rgb(223, 255, 190);
  background: linear-gradient(
    90deg,
    rgba(223, 255, 190, 1) 0%,
    rgba(118, 255, 191, 1) 49%,
    rgba(38, 255, 150, 1) 100%
  );
}

.nav-link {
  margin-right: 1rem;
}

.nav_button {
  color: white;
}
